amadeus==5.2.0
anyio==3.5.0
appdirs==1.4.4
certifi==2021.10.8
colorama==0.4.4
fastapi==0.74.0
haversine==2.5.1
idna==3.3
importlib-metadata==4.10.1
mysql-connector-python==8.0.28
protobuf==3.19.3
pydantic==1.9.0
pyee==8.2.2
sniffio==1.2.0
starlette==0.17.1
tqdm==4.62.3
typing_extensions==4.1.1
urllib3==1.26.8
websockets==10.1
zipp==3.7.0
