{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

    <div style="width: 500px; margin:auto">
        <p>
            Select a frequent flyer program you want to earn miles with and calculate how much you'll earn by flying partner airlines.
        </p>
        {% from "_formhelper.html" import render_field %}
        <form id=basicSearchForm method=post style="width:100%; flex:0 0 auto" autocomplete="on" novalidate>
            {{ form.csrf_token }}
            <dl>
                {{ render_field(form.credit_airline, 
                                class='input-large form-control js-select2', 
                                id='credit-airline-select',
                                onchange='updateCredit()', 
                                error_raise=True) }}
                {{ render_field(form.flown_airline, 
                                class='input-large form-control js-select2', 
                                id='flown-airline-select', 
                                onchange='updateFlown()',
                                error_raise=True) }}
                {{ render_field(form.origin, 
                                class='input-large form-select',
                                id='origin-select',
                                autocomplete='off', 
                                error_raise=True) }}
                {{ render_field(form.destination, 
                                class='input-large form-control',
                                id='destination-select',
                                autocomplete='off',
                                error_raise='True') }}
                {{ render_field(form.fare_code,
                                id='fare-code-select',
                                class='form-select js-select2', 
                                style='width: 100%') }}
                {{ render_field(form.flight_type, 
                                id='flight-type-select',
                                class='form-select js-select2',
                                style='width: 100%') }}


            </dl>
            <button type=submit id="submit-calculate-miles">Calculate Miles</button>
        </form>
    </div>

    <div>
        <table id='calculation-results' hidden style="width: 500px; margin:auto">
            <tr>
            <th>Distance Flown</th>
            <td id="distance_result">---</td>
            </tr>
            <tr>
                <th>Elite Qualifying Miles (EQM)</th>
                <td id="eqm_result">---</td>
            </tr>
            <tr>
                <th>Elite Qualifying Dollars (EQD)</th>
                <td id="eqd_result">---</td>
            </tr>
            <tr>
                <th>Redeemable Miles (RDM)</th>
                <td id="rdm_result">---</td>
            </tr>
            <tr>
                <th>Redeemable Miles Value</th>
                <td id="rdm_value_result">---</td>
            </tr>
        </table> 
    </div>




{% endblock %}