{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
        <p>{{msg}}</p>
    {% endfor %}
{% endif %}    
{% endwith %}
{% from "_formhelper.html" import render_field %}
<form action="#" method="post">
    {{ form.csrf_token }}
			<dl>
				{{ render_field(form.email, style="width:100%") }}
				{{ render_field(form.password, style="width:100%") }}
			</dl>
  			<p><input type=submit value=Login>
</form>
{% endblock%}