{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div id="partnersJSON" onclick="getFlownToCredited()">
        {{ partners }}
    </div>
    <div>
        {% from "_formhelper.html" import render_field %}
        <form method=post action="#" style="width:100%; flex:0 0 auto" autocomplete="on" novalidate>
            {{ form.csrf_token }}
            <dl>
                {{ render_field(form.origin, 
                                class='input-large form-control',
                                id='origin-select',
                                autocomplete='off', 
                                error_raise=True) }}
                {{ render_field(form.destination, 
                                class='input-large form-control',
                                id='destination-select',
                                autocomplete='off',
                                error_raise='True') }}
                {{ render_field(form.flown_airline, 
                                class='input-large form-control js-select2', 
                                id='flown-airline-select', 
                                onchange='updateFlown()') }}
                {{ render_field(form.credit_airline, 
                                class='input-large form-control js-select2', 
                                id='credit-airline-select', 
                                onclick='getCreditedToFlown()', 
                                error_raise=False) }}
                {{ render_field(form.fare,
                                id='fare-code-select',
                                class='form-select js-select2', 
                                style='width: 100%') }}
                {{ render_field(form.type, 
                                class='form-select js-select2',
                                style='width: 100%') }}


            </dl>
            <p><input type=submit value="Calculate Miles">
        </form>
    </div>
<p>Distance: {{ distance }}</p>
{% if earnings %}
    <p>Redeemable Miles: {{ earnings['rdm'] }}</p>
    <p>Elite Qualifying Miles: {{ earnings['eqm'] }}</p>
    <p>Elite Qualifying Dollars: {{ earnings['eqd'] }}</p>
{% endif %}


{% endblock%}




