{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div>
        {% from "_formhelper.html" import render_field %}
        <form method=post action="#" class="form-control" style="width:33.3333%; flex:0 0 auto" novalidate>
            {{ form.csrf_token }}
            <dl>
                {{ render_field(form.origin, style='width: 100%') }}
                {{ render_field(form.destination, style='width: 100%') }}
                {{ render_field(form.flown_airline, style='width: 100%') }}
                {{ render_field(form.credit_airline, style='width: 100%') }}
                {{ render_field(form.fare, style='width: 100%') }}
            </dl>
            <p><input type=submit value="Calculate Miles">
        </form>
    </div>
<p>Distance: {{distance}}</p>

{% endblock%}


